<div class="jumbotron">
    <h1 class="display-3">About High Scores</h1>
    <p class="lead">Have you ever wanted to put your friends in their place?  Show off how much faster you can push a button!</p>
    <p class="blockquote-footer">=¬]</p>
</div>